.hero-img {
  height: 450px;
  object-fit: cover;
}
.site-footer{
  background:rgba(0,0,0,0.25);
  padding:14px;
  border-radius:12px;
  display:flex; 
  justify-content:space-between;
  font-size:0.95rem;
}
.youtube {
  width: 100%;
  height: 315px;
}